@import "tailwindcss";
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600,700&display=swap');

* {
  font-family: 'Satoshi', sans-serif !important;
}

body {
  font-family: 'Satoshi', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Satoshi', sans-serif !important;
}

/* Variáveis CSS para as cores midnight */
:root {
  --midnight-50: #FAFAFA;
  --midnight-100: #F4F4F5;
  --midnight-200: #E5E4E7;
  --midnight-300: #D6D3D9;
  --midnight-400: #A49EAC;
  --midnight-500: #746C7E;
  --midnight-600: #554F5D;
  --midnight-700: #413D47;
  --midnight-800: #28252C;
  --midnight-900: #19171C;
}
